@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: theme(colors.gray.200);
}

textarea {
   resize: none;
}

.gradient-bg {
  background: rgb(255,129,204);
  background: linear-gradient(101deg, rgba(255,129,204,1) 0%, rgba(183,138,254,1) 100%);
}

.sheet {
  box-shadow: 5px 17px 45px 3px rgba(112, 144, 176, 0.14);
}

input::placeholder {
  color: #BDC0C4;
}

.chat-bubble[data-role=user] {
  border-radius: 10px 10px 10px 50px;
}

.chat-bubble[data-role=assistant] {
  border-radius: 10px 10px 50px 10px;
}
